 
.font0
	{color:#000000;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"宋体";
	 
	 }
.style0
	{ 
	text-align:general;
	vertical-align:middle;
	white-space:nowrap;
	 
	color:#000000;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	}
.style16
	{ 
	background:#FF9900;
	color:#FFFFFF;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	 }
.style17
	{ 
	background:#CC99FF;
	color:#000000;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	 }
.style18
	{ 
	background:#800080;
	color:#FFFFFF;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	 }
.style19
	{ 
	background:#FFCC99;
	color:#333399;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
}
.style20
	{ 
	background:#00FF00;
	color:#000000;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
 }
.style21
	{ 
	background:#CCFFCC;
	color:#000000;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	 }
 
.style23
	{ 
	background:#339966;
	color:#FFFFFF;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
 }
 
.style25
	{ 
	background:#FF8080;
	color:#FFFFFF;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	 }
.style26
	{ 
	background:#33CCCC;
	color:#FFFFFF;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	 }
.style27
	{ 
	background:#FF0000;
	color:#FFFFFF;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
 }
.style28
	{ 
	background:#0066CC;
	color:#FFFFFF;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	 }
.style29
	{ 
	background:#800080;
	color:#FFFFFF;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	 }
.style30
	{ 
	background:#C0C0C0;
	color:#FF9900;
	font-size:11.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	  
	 }
.style31
	{ 
	background:#333399;
	color:#FFFFFF;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	 }
.style32
	{ 
	background:#FFFF99;
	color:#993300;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	 }
.style33
	{ 
	background:#CCFFFF;
	color:#000000;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	 }
.style34
	{ 
	background:#CCFFCC;
	color:#008000;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	 }
.style35
	{ 
	background:#CCCCFF;
	color:#000000;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	 }
.style36
	{color:#000000;
	font-size:11.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	 
	 
	 }
.style37
	{ 
	background:#FF99CC;
	color:#800080;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	 }
.style38
	{ 
	background:#969696;
	color:#FFFFFF;
	font-size:11.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	 }
.style39
	{ 
	background:#C0C0C0;
	color:#333333;
	font-size:11.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	 }
.style40
	{color:#003366;
	font-size:15.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	 
	 
	 }
.style41
	{color:#808080;
	font-size:11.0pt;
	font-weight:400;
	font-style:italic;
	text-decoration:none;
	font-family:宋体;
	 }
.style42
	{ 
	background:#FF99CC;
	color:#000000;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	 }
.style43
	{color:#003366;
	font-size:11.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	}
 
.style45
	{ 
	background:#CC99FF;
	color:#000000;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	 }
 
.style47
	{color:#800080;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:underline;
	text-underline-style:single;
	font-family:宋体;
	 }
.style48
	{color:#003366;
	font-size:18.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	 }
.style49
	{ 
	background:#FF8080;
	color:#000000;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	 }
.style50
	{color:#FF0000;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	 }
.style51
	{ 
	background:#00FF00;
	color:#FFFFFF;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	 }
.style52
	{ 
	background:#FFFFCC;
	 
	 }
.style53
	{ 
	background:#FFCC99;
	color:#000000;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	 }
.style54
	{ 
	background:#33CCCC;
	color:#FFFFFF;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	 }
.style55
	{ 
	background:#FFCC00;
	color:#000000;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	 }
.style56
	{color:#0000FF;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:underline;
	text-underline-style:single;
	font-family:宋体;
	 }
 
.style58
	{color:#003366;
	font-size:13.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	 
	 
	 }
.style59
	{ 
	background:#99CCFF;
	color:#000000;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	 }

.style60
	{color:#003366;
	font-size:11.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	 
	
	 }
.style61
	{ 
	background:#FF6600;
	color:#FFFFFF;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	 }

.style62
	{ 
	background:#99CCFF;
	color:#000000;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	 }

.style63
	{color:#FF9900;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	 
	
	 }
td
	{ 
	padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	 
	text-align:general;
	vertical-align:middle;
	white-space:nowrap;
	 
	color:#000000;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	 
	
	 }
.xl65
	{ 
	text-align:center;
	 }
.xl66
	{ 
	}
.xl67
	{ 
	text-align:center;
	font-size:18.0pt;
	font-weight:700;
	 }
.xl68
	{ 
	 
	 }
.xl69
	{ 
	text-align:center;
	font-size:14.0pt;
	 
	 }
.xl70
	{ 
	text-align:left;
	font-size:14.0pt;
	 
	}
.xl72
	{ 
	text-align:left;
	 
	}
.xl74
	{ 
	text-align:center;
	 }
.xl75
	{ 
	text-align:center;
	 
	 }
.xl76
	{ 
	 }
.xl77
	{ 
	 }
.xl78
	{ 
	text-align:center;
	 
	 }
.xl79
	{ 
	 }
.xl80
	{ 
	 }
.xl82
	{ 
	text-align:center;
	 
	 }
.xl83
	{ 
	text-align:center;
	font-size:14.0pt;
	font-weight:700;
	 
	 }
.xl86
	{ 
	 }
.xl87
	{ 
	text-align:left;
	 
	 }
.xl89
	{ 
	text-align:left;
	 
	 }
.xl91
	{ 
	 
	 }
.xl92
	{ 
	text-align:center;
	 
	 }
.xl94
	{ 
	text-align:center;
	 
	 }
.xl95
	{ 
	text-align:center;
	 
	 }
.xl96
	{ 
	text-align:center;
	 
	 }
.xl97
	{ 
	text-align:center;
	 
	 }
.xl98
	{ 
	 }
.xl99
	{ 
	 }
.xl101
	{ 
	text-align:center;
	 
	 }
.xl103
	{ 
	text-align:center;
	 
	 }
.xl104
	{ 
	text-align:center;
	 
	 }
.xl105
	{ 
	 
	}
.xl106
	{ 
	 }
.xl110
	{ 
	}
