<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css" >
    <link rel="stylesheet" href="/static/css/iaski.css" >

    <title>{% block title %}默认标题{% endblock %} </title>
    <meta content="{% block keywords %}数字能里，数字八星，数字奇门，手机号分析{% endblock %}" name="Keywords">
    {% block css %}   {% endblock %}
</head>
<body>

<!--导航栏-->
{% include 'product/nav.html' %}

<!--内容区域-->
<div id='main'>
{% block content %}
<div>这里是默认内容x</div>
{% endblock %}
</div>


<!-- 底部栏 -->
{% include 'product/footer.html' %}

<!--连接Jquery代码-->
<script src="/static/js/jquery-3.3.1.min.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js" ></script>

<!-- 自定义JS区域块-->
{% block jsblock %}
{% endblock  %}


<!-- 百度统计的代码 -->
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?f8bcfe83e1a95d6d4842e5826b401831";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>


</body>
</html>