<footer id="footer">
	<div class="container">
		<div class="row hidden-sm hidden-xs">
			<div class="col-lg-3 ">		
				<ul class="clear">
				  <li>关于我们</li>
				  <li class="footer_li_link"><a href="/">关于本站</a></li>
				  <li><a href="/post/contact/">联系我</a></li>
				  <li>关注我</li>
				</ul>
			</div>
			<div class="col-lg-3">	
			    <ul class="">
			    	<li>数字能量</li>
				  	<li>手机号码</li>
				  	<li>门牌号</li>
			    </ul>	
			</div>
			<div class="col-lg-3">
				 <ul class="">
			    	<li>数字奇门</li>
				  	<li>手机号码奇门</li>
			    </ul>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12" >		
				<div class="d-flex justify-content-center" >Copyright©2018     京ICP备14020812号</div>
				<p></p>
			</div>
		</div>
	</div>
</footer>