
{% extends 'product/base.html' %}


{% block css %}
<link rel="stylesheet" href="/static/css/phone.css">
{% endblock %}

{% block title %}研华工控机查询{% endblock %}



{% block  content %}
<div class="container">


<!-- 内容区域 -->

	<div class="row justify-content-md-center">
		<div class="col-lg-6">
		</div>
	</div>


	<table style="margin: auto" class="table  ">
			  <thead>
				<tr>
				  <th scope="col">First</th>
				  <th scope="col">Last</th>
				  <th scope="col">Handle</th>
					<th scope="col">First</th>
				  <th scope="col">Last</th>
				  <th scope="col">Handle</th>
					<th scope="col">First</th>
				  <th scope="col">Last</th>
				  <th scope="col">Handle</th>
					<th scope="col">First</th>
				  <th scope="col">Last</th>
				  <th scope="col">Handle</th>
				</tr>
			  </thead>
			  <tbody>
				<tr>
				  <td>Mark</td>
				</tr>
				<tr>
				  <td>Jacob</td>
				  <td>Thornton</td>
				  <td>@fat</td>
				</tr>
				<tr>
				  <td>Larry</td>
				  <td>the Bird</td>
				  <td>@twitter</td>
				</tr>
			  </tbody>
			</table>

</div>



{% endblock %}


{% block jsblock %}
{% endblock %}